@model Library.UI.Web.Models.NewspaperView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewspaperView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISSN)
        </dt>
        <dd class="col-sm-10">
            @Model.Identity()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Other issue
        </dt>
        @foreach (var item in Model.NewspapersWithOtherView)
        {
            @if (item.IssueNumber == Model.IssueNumber)
            {
                <dd class="col-sm-10">
                    @Model.IssueNumber
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @Html.ActionLink(item.IssueNumber.ToString(), "Details", new { id = item.ID })
                </dd>   
            }
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a asp-action="Index" asp-controller="Notes">Back to List</a>
</div>
