@model Library.UI.Web.Models.PatentView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatentView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfApplicationSubmission" class="control-label"></label>
                <input asp-for="DateOfApplicationSubmission" class="form-control" />
                <span asp-validation-for="DateOfApplicationSubmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageCount" class="control-label"></label>
                <input asp-for="PageCount" class="form-control" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfPublication" class="control-label"></label>
                <input asp-for="PlaceOfPublication" class="form-control" />
                <span asp-validation-for="PlaceOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorsName" class="control-label"></label>
                <select id="authorSelect" class="js-example-basic-multiple" name="AuthorsName" multiple="multiple">
                    @foreach (var author in ViewBag.Authors)
                    {
                        @if (Model.Authors.Contains(author as AuthorView))
                        {
                            <option selected="selected" value="@author.FirstName/@author.LastName">@author.FirstName @author.LastName</option>
                        }
                        else
                        {
                            <option value="@author.FirstName/@author.LastName">@author.FirstName @author.LastName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
